.hero {
  display: flex;
  color: white;

  .left {

    #carouselcontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 5px $electric-green;
      border-radius: 10px;
      padding: 15px;

      #imagecontainer {
        img {
          width: 200px;
          height: 200px;
        }
      }

      #buttoncontainer {
        display: flex;
        align-items: center;
        height: 25%;

        #prevbutton,
        #nextbutton {
          border-radius: 50%;
          border: solid 3px black;
          transition: padding 300ms, margin 300ms, background-color 400ms;
          margin: 10px;
          padding: 10px;
          // border: solid 2px black;
          cursor: pointer;

          &:hover {
            border-color: $light-electric-green;
            background-color: darkgray;
            transition: padding 400ms, margin 400ms;
            padding: 15px;
            margin: -5px 5px -5px;
          }
        }

        #circle1,
        #circle2,
        #circle3 {
          background-color: gray;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transition: background-color 200ms;
          margin: 0 3px;
        }
      }
    }
  }
}
