body {
  margin: 0;

  .App {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to bottom right,
      white,
      rgb(112, 255, 112),
      rgb(1, 180, 1)
    );

    .background {
      background-image: url("../../images/green-background-3.webp");
      background-size: cover;
      border-radius: 35px;
    }
  }
}
